div{
    border: solid 1px #666666;
    display: inline-block;

}
table {
    width: 500px; /* Ширина таблицы */
    background: white; /* Цвет фона таблицы */
    color: black; /* Цвет текста */
    border-spacing: 1px; /* Расстояние между ячейками */
   }
td, th {
    background: #efecdf; /* Цвет фона ячеек */
    padding: 3px; /* Поля вокруг текста */
    width: 250px;
    text-align: left;
}
.addvebs{
    padding: 3px;
}
.homework{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

}
.maindiv{
    display: flex;
    justify-content: space-between;
}
.i1{
    text-align: left;

}
body{
    background-image: url(../picture/3.jpg);
}
p, h1, h2, h3, h4, h5, h6,i {
    color: white;
}